html,
body {
  margin: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  @media (min-width: $min-width-breakpoint) {
    font-size: 20px;
  }
}

body {
  padding: $body-padding;
  color: $font-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;

  &:hover,
  &:focus {
    background-color: $link-color;
    color: white;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

.js-file-line-container td {
    border: none;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

th {
  text-align: left;
}

tbody tr:nth-child(even) td,
tbody tr:nth-child(even) th {
  background-color: $table-background-even;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-background-odd;
}
