@mixin after-border($margin:2rem auto) {
  &:after {
    display: block;
    content: "";
    width: 150px;
    height: 1px;
    margin: $margin;
    background-color: $divider-color;
  }
}

@mixin container() {
  max-width: $min-width-breakpoint;
  margin-left: auto;
  margin-right: auto;
}

.image-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 4px;
}

.image-column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: $min-width-breakpoint) {
  .image-column {
    flex: 100%;
    max-width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fa-social-icons {
  font-size: 2rem;
  margin-top: -1rem;

  a {
    border: 0;
    margin-right: 0.1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.masthead, .content, .footer {
  @include container();
}

.masthead, .post, .related, .recent, .page, .comments, .index {
  @include after-border();
}

.related, .recent {
  .related-title, .recent-title {
    margin-top: 0;
  }
}

.masthead {
  margin-bottom: 2rem;

  a {
      color: $link-color-masthead;
  }

  .masthead-title {
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      border: 0;
    }

    @media (min-width: $min-width-breakpoint) {
      float: left;
    }
  }

  .masthead-nav {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;

    a {
      text-decoration: none;
      border: 0;

      &.current {
        text-decoration: underline;
        text-decoration-thickness: 0.1rem;
      }

      & + a {
        margin-left: 0.6rem;
      }

      &.f32:hover {
        text-decoration: none;
        background-color: transparent;
        color: transparent;
      }
    }
  }

  @media (min-width: $min-width-breakpoint) {
    padding-top: 1rem;
    text-align: right;
  }
}

.footer {
  margin-bottom: 1rem;
  text-align: center;

  ul.footer-links {
    padding: 0;
    font-size: small;
    li {
      display: inline-block;
      float: none;
      text-align: center;
    }
    :not(:last-child)::after {
        // content: "\00b7";
        content: "/";
    }
  }
}

.posts {
  padding-bottom: 1rem;

  .posts-item {
    margin-bottom: 1rem;

    @media (min-width: $min-width-breakpoint) {
      margin-bottom: 0.2rem;
    }
  }

  a {
    border: 0;
  }

  time {
    display: block;
    color: $post-date-color;

    @media (min-width: $min-width-breakpoint) {
      margin-top: 2px;
      float: right;
    }
  }
}

.next, .previous {
  font-weight: 600;
  font-size: 20px;
  transition: transform 0.3s ease-out;

}

.next {
  float: right;
  &:hover {
    transform: translateX(4px);
  }
}

.previous {
  float: left;
  &:hover {
    transform: translateX(-4px);
  }
}

.top-index {
  text-align: center;
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 25%;
    height: auto;
  }

  div.contact {
    span.contact-label {
      display: inline;
    }

    ul.contact-list {
      padding: 0;
      display: inline;

      li {
        display: inline-block;
        float: none;
        text-align: center;
      }
      :not(:last-child)::after {
          // content: "\00b7";
          content: "/";
      }
    }
  }
}

img.circle {
  border-radius: 50%;
}

.rotate-y-on-hover {
  &:hover {
    transform: rotateY(180deg);
    transition: 3s transform;
  }
  transform: rotateY(0deg);
  transition: 3s transform;
}

.lil-rotate-hover {
  &:hover {
    transform: rotateZ(10deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  transition: 500ms ease all;
}