.post {
  .post-header {
    margin-bottom: 2rem;

    .post-title {
      margin-top: 0.3rem;
      margin-bottom: 0.4rem;
    }
  }
}

.page {
  .page-header {
    margin-bottom: 2rem;

    .page-title {
      margin-bottom: 0.3rem;
    }
  }

  .pagination {
    clear: both;
  }
}

.post-date {
  font-size: 85%;
  color: $post-date-color;
}

.index {
  margin: 2rem;
}

div#tippin-button {
  display: inline-block;
  margin-left: 15px;
}
