$font-fallback: 'sans-serif';
$font-family: 'Lora', $font-fallback;
$font-size: 18px;
$line-height: 1.6;

$min-width-breakpoint: 42em;

$body-padding: 2rem 1.5rem;
$font-color: #444;
$background-color: #fff;

$heading-color: darken($font-color, 12);
$strong-color: lighten($heading-color, 5);
$small-color: lighten($font-color, 25);

$divider-color: lighten($small-color, 25);

$link-color: #afd700; //#A6E22D;
$link-color-masthead: darken($font-color, 20);

$table-border-color: $divider-color;
$table-background-even: #fff;
$table-background-odd: darken($table-background-even, 2);

$abbr-color: lighten($link-color-masthead, 8);
$abbr-border-color: $divider-color;

$blockquote-color: $small-color;
$blockquote-border-color: $divider-color;

$code-background-color: darken(#fff, 3);
$code-color: #bf616a;
$code-border-color: darken($code-background-color, 8);
$code-radius: 3px;

$post-date-color: $small-color;
