{% extends "layout.html" %}

{% block title %}Page not found{% endblock title %}

{% block content %}
<article class="page">
    <h1>404</h1>
    Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ config.base_url }}/">Head back home</a> to try finding it again.
</article>
{% endblock content %}
