{% extends "layout.html" %}

{% block content %}
    <div class="top-index">
        <img class="circle top-pic lil-rotate-hover" src="{{ get_url(path="img/moi1.jpg") }}">

        <div class="contact">
            <span class="contact-label">
                {{- trans(key="contact_label", lang=lang_trans) -}}
            </span>
            <ul class="contact-list">
                {% for contact in config.extra.contact %}
                    <li>
                        <a href="{{ contact.value }}">
                            {{- trans(key=contact.type, lang=lang_trans) -}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <article class="index {% if section.extra.text_center %} text-center {% endif %}">
        {{ section.content | safe }}
    </article>
{% endblock content %}