<!DOCTYPE html>
{% if lang is not defined or lang == "" %}
{%- set lang_trans = config.default_language -%}
{% else %}
{%- set lang_trans = lang -%}
{% endif %}

<html lang="{{ lang | default(value = config.default_language) }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block description %}
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="{{ config.extra.keywords }}">
    {% endblock description %}

    {% block meta %}
    <meta name="author" content="{{ config.extra.author.name }}">

    {# <link rel="author" href="{{ config.extra.author.twitter.link }}"> #}
    {% if current_url %}
    <link href="{{ current_url }}" rel="canonical">
    {% else %}
    <link href="{{ config.base_url ~ '/404.html' }}" rel="canonical">
    {% endif %}
    {% endblock meta %}

    {% block og_card %}
    {# <meta name="twitter:site" content="@{{ config.extra.author.twitter.username }}"> #}
    {# <meta name="twitter:creator" content="@{{ config.extra.author.twitter.username }}"> #}

    <meta property="og:type" content="article">
    {% if current_url %}
    <meta property="og:url" content="{{ current_url }}">
    {% else %}
    <meta property="og:site_name" content="{{ config.title }}">

    {#
    {% if page.extra.card %}
    <meta name="twitter:card" content="{{ page.extra.card }}">
    {% endif %}
    <meta name="twitter:card" content="summary">
    #}
    {% endif %}

    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    {% else %}
    <meta property="og:description" content="{{ config.description }}">
    {% endif %}
    {% endblock og_card %}

    {% block og_image %}
    <meta property="og:image" content="{{ get_url(path='logo.png', cachebust=true) }}">
    {% endblock og_iimage %}

    {% block fav_icon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ get_url(path='icons/manifest.json') }}">
    <link rel="mask-icon" href="{{ get_url(path='icons/safari-pinned-tab.svg') }}">
    <link rel="shortcut icon" href="{{ get_url(path='icons/favicon.ico') }}">
    <meta name="msapplication-config" content="{{ get_url(path='icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    {% endblock fav_icon %}

    {# feed_meta #}

    {% block css %}
    <style>{{ load_data(path="./public/critical.css") | safe }}</style>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='style.css', cachebust=true) }}">
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css">
    {% endblock css %}

    {% block font %}
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    {% endblock font %}
</head>

<body>

    {% block header %}
    <header class="masthead">
        <h3 class="masthead-title">
            <a href="{{ get_url(path='@/_index.md', lang=lang_trans) }}">{{ config.extra.author.name }}</a>
        </h3>
        <nav class="masthead-nav">
            {% for node in config.extra.nav_links %}

            {% if current_url is defined %}
            {%- set node_url = get_url(path=node.path, lang = lang) -%}
            {%- set is_current = current_url == node_url or current_url is starting_with(node_url) -%}
            <a href="{{ node_url }}"
                class="nav-item {% if is_current %}current{% endif %}">{{ trans(key = node.key, lang = lang_trans) }}</a>
            {% else %}
            {%- set node_url = get_url(path=node.path) -%}
            <a href="{{ node_url }}" class="nav-item">{{ trans(key = node.key, lang = lang_trans) }}</a>
            {% endif %}
            {% endfor %}

            {# current_path is not defined on 404 page #}
            {% if current_path is defined %}
                {% if lang is not defined or lang == "fr" %}
                    <a href="{{ "/en/" ~ current_path }}" class="f32" title="Go to the english version"><i class="flag gb"></i></a>
                {% elif lang == "en" %}
                    <a href="/{{ current_path | split(pat="/") | slice(start=1) | join(sep="/") }}" class="f32" title="Voir la version française"><i class="flag fr"></i></a>
                {% endif %}
            {% endif %}
        </nav>
    </header>
    {% endblock header %}

    {# {% if config.extra.debug %} #}
    {# {{ __tera_context }} #}
    {# {% endif %} #}

    <main class="content">
        {% block content %}
        {% endblock content %}
    </main>

    {% block footer %}
    <footer class="footer">
        <ul class="footer-links">
            {% for link in config.extra.footer_links %}
                <li>
                    <a href="{{ link.url | replace(from="$BASE_URL", to=config.base_url) }}">
                        {{- link.name -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </footer>
    {% endblock footer %}

</body>

</html>
