{% macro read_time(words) %}
    <span class="reading-time" title="Estimated read time">
      {% if words < 530 %}
        1 min read
      {% else %}
        {{ words / 265 | round }} min read
      {% endif %}
    </span>
{% endmacro read_time %}

{% macro disqus(page) %}
<div class="comments" id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_config = function () {
        this.page.url = '{{ page.permalink }}';
        this.page.identifier = '{{ "blog/" ~ page.slug }}';
        this.page.title = '{{ page.title }}';
    };
    var disqus_shortname = '{{ config.extra.disqus.shortname }}';
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        dsq.setAttribute('data-timestamp', +new Date());
        (document.head || document.body).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endmacro disqus %}

{% macro toc(toc, lang) %}
    <details open id="toc-inline">
        <summary><h2>{{ trans(key="table_of_contents", lang=lang) }}</h2></summary>
        <ul>
            {% for h2 in toc %}<li>
                <a href="#{{h2.id | safe}}">{{ h2.title | safe }}</a>
                {% if h2.children %}<ul>
                    {% for h3 in h2.children %}<li>
                        <a href="#{{h3.id | safe}}">{{ h3.title | safe }}</a>
                    </li>{% endfor %}
                </ul>{% endif %}
            </li>{% endfor %}
        </ul>
    </details>
{% endmacro toc %}
