{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block description %}
    <meta name="description" content="{{ page.summary | striptags }}">

    {% if page.extra.tags %}
        <meta name="keywords" content="{{ config.extra.keywords ~ ', ' ~ page.extra.tags }}">
    {% endif %}
{% endblock description %}

{% block og_card %}
    {{ super() }}
    <meta name="twitter:title" content="{{ page.title }} &mdash; {{ config.title }}">
    <meta property="og:title" content="{{ page.title }}">
{% endblock og_card %}

{% block og_image %}
    {% if page.image %}
        <meta property="og:image" content="{{ get_url(path=page.image, cachebust=true) }}">
    {% endif %}
{% endblock og_image %}

{% block content %}

<article class="post">
  <header class="post-header">
    <time datetime="{{ page.date }}" class="post-date">
        {{ page.date | date(format="%d/%m/%Y", timezone=config.extra.timezone) }}
    </time>
        {% if page.extra.last_modified_at %}
          <small>
            (Updated:
            <time datetime="{{ page.extra.last_modified_at | date(format="%d/%m/%YT%H:%M:%S", timezone=config.extra.timezone) }}" itemprop="dateModified">
                {{ page.extra.last_modified_at | date(format="%d %b %Y", timezone=config.extra.timezone) }}
            </time>)
          </small>
        {% endif %}
        <small>
            · {{ macros::read_time(words=page.word_count) }}
        </small>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {{ page.content | replace(from="<!-- toc -->", to=macros::toc(toc=page.toc, lang=lang_trans)) | safe }}
</article>

{% endblock content %}
