{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block content %}
<article class="page">
  <header class="page-header">
    {% if not section.extra.hide_title %}
    <h1 class="page-title">{{ section.title }}</h1>
    {% endif %}
  </header>

  {% block seccontent %}
  {# {{ section.content | safe }} #}
  {{ section.content | replace(from="<!-- toc -->", to=macros::toc(toc=section.toc, lang=lang_trans)) | safe }}
  {% endblock seccontent %}
</article>
{% endblock content %}